body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, button {
	margin: 5px;
}
/*navigation bar*/
.navbar{
  background-color: rgb(54, 54, 54);
  overflow: hidden;
  padding: 20px;
  margin-bottom: 1%;
}
.navbar a{
  color: #f2f2f2;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
}
.navbar a:hover{
  background-color:#4caada;
}
/*navigation bar end*/

/*credit & debit*/
.balance,li,.credit_debit_form{
  text-align: left;
  padding-left: 30px;
}
/*credit & debit end*/
.box{
  width: fit-content;
  border-radius: 20px;
  background-color:#81ccf2;
  padding: 20px;
  margin: 0 auto;
}

.balance{
  width: fit-content;
  border-radius: 20px;
  background-color:orange;
  padding: 20px;
  margin: 0 auto;
}

.content{
  justify-content: center;
}